<!DOCTYPE HTML>

<html lang="en">
<head>
<title>Pokken Matchup Recorder</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="styles/bootstrap-theme.min.css">

<!-- CSS -->
<link rel="stylesheet" href="styles/style.css">
</head>

<body>

<div id="Toolbar" tid="test-toolbar">
	<ul>
		<li><button onclick="clickAboutNav()" style="float: left; width: 200px; padding: 14px 0px;">Pokken Matchup Recorder</button></li>
		<li><button onclick="ClearButtonClick(this)">Clear</button></li>
		<li><input id="FileInput" type="file" style="visibility:hidden" /><button onclick="$('#FileInput').click();">Load</button></li>
		<li><button onclick="ClickSave()">Save</button></li>
		<li><button onclick="clickSettingsNav()">Settings</button></li>
		<li><button onclick="clickHelpNav()">Help</button></li>
		<li><button onclick="clickShareNav()">Share</button></li>
	</ul>
</div>

<div id="AboutOverlay" class="overlay">
	<a href="javascript:void(0)" class="closeBtn" onclick="closeAboutNav()">&times;</a>

	<div class="overlay-content">
		<p>Pokken Matchup Recorder is a tool that allows you to save and share your opinions on matchups in Pokk&eacute;n Tournament</p>
		<p>Created by Aidan Tallon</p>
	</div>
</div>

<div id="HelpOverlay" class="overlay">
	<a href="javascript:void(0)" class="closeBtn" onclick="closeHelpNav()">&times;</a>

	<div class="overlay-content">
		<p>Click a Pok&eacute;mon to get started!</p>
		<p>Record matchups by selecting two Pok&eacute;mon and a matchup value and hitting Submit.</p>
		<p>You can delete matchups by pressing the Delete Matchup button with two Pok&eacute;mon selected.</p>
		<p>Or you can delete many matchups at once by pressing Clear in the top right corner.</p>
		<p>Matchup charts can be saved to and loaded from your computer.</p>
		<p>Click Share and then choose a Pok&eacute;mon to generate a matchup chart image.</p>
		<p>Save this image to your computer so you can share it with others.</p>
	</div>
</div>

<div id="ShareOverlay" class="overlay">
	<a href="javascript:void(0)" class="closeBtn" onclick="closeShareNav()">&times;</a>
	<div class="container" id="ShareCharContainer">
		<div class="row">

		</div>
		<div class="row">

		</div>
		<canvas id="ShareCanvas"></canvas>
	</div>
</div>

<div id="SettingsOverlay" class="overlay">
	<a href="javascript:void(0)" class="closeBtn" onclick="closeSettingsNav()">&times;</a>
</div>

<div id="PrimaryContainer" class="container-fluid">

	<div id="CharContainer" class="container"> <!-- Filled by GenerateCharacterGrid() -->
	</div>
	
	<div id="SelectContainer" class="container"> <!-- Shows currently selected characters, and options for recording matchup -->
		<div class="row">
			<button id="MatchupToggleButton" class="btn btn-info" onclick="ClickMatchupToggle()" class="btn" type="button">Hide Matchups</button>
			<div class="col-md-4 col-xs-4">
				<div id="CharOneImage" class="CharacterPortraitDiv"> <!-- CharOne Image -->
				<img id="CharOnePortrait" />
				<button id="CharOneRemoveButton"></button>
				</div>
			</div>
			<div class="col-md-2 col-xs-4 MiddleSelectDiv">
				<input type="range" min="-3" max="3" value="0" onchange="TrackBarChange(this.value)" name="result" id="MatchupTrackBar" disabled="true" autocomplete="off" title="Select characters first!"/>
				<label id="TrackBarLabel"></label>
				<span id="HelperText"></span>
				<input class="SubmitButton btn btn-primary" type="button" value="Submit" onclick="RecordMatchup();return false" />
				<button class="DeleteMatchupButton btn btn-danger" type="btn" onclick="DeleteSpecificMatchup()">! Delete Matchup</button>
			</div>
			<div class="col-md-4 col-xs-4">
				<div id="CharTwoImage" class="CharacterPortraitDiv"> <!-- CharTwo Image -->
				<img id="CharTwoPortrait" />
				<button id="CharTwoRemoveButton"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="ClearModeContainer" class="container" style="display: none"> <!-- Should be hidden on page load, only displayed when clear mode toggled. -->
		<div class="row">
			<div class="col-md-4 col-xs-4">
			</div>
			<div class="col-md-2 col-xs-4 ClearModeDiv">
				<p>In clear mode.</p>
				<p>Click Pok&eacute;mon to clear records.</p>
				<p>Click clear again to leave clear mode.</p>
				<button id="ClearAllButton" onclick="ClearAllMatchups()" class="ClearAllButton btn btn-danger">Clear All</button>				
			</div>
	</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/scripts.js"></script>
</body>
</html>
