body {
	background: #222;
}

@media (min-width: 768px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 100%;
		*width: 100%;
	}
}

@media (min-width: 992px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.28%;
		*width: 14.28%;
	}
}

@media (min-width: 1200px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
		width: 14.28%;	
		*width: 14.28%;
	}
}

@media screen and (max-height: 450px) {
	.overlay p {font-sizw: 20px}
	.closebtn {
		font-size: 40px !important;
		top: 15px;
		right: 35px;
	}
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 50px;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay p {
	padding: 8px;
	font-size: 36px;
	color: #818181;
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

#Toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #333;
	height: 50px;
}

#Toolbar h7 {
	float: left;
	color: white;
	padding: 14px 16px;
	text-align: center;
}

#Toolbar li button {
	float: right;
	display: block;
	color: white;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
	width: 120px;
}

#Toolbar li input {
	position: absolute;
}

#Toolbar li button:hover {
	background-color: #111;
}

#ClearAllButton {
	position: absolute;
	top: 50px;
	right: 0px;
}

#CharContainer {
	max-width: 1200px;
	min-width: 200px;
}

.CharDiv {
	margin-top: 10px;
}

.CharButton {
	background-color: #313131;
	height: 90px;
	border: none;
	outline: none;
}

.CharButton:hover {
	background-color: #234366;
}

.CharButton:active {
	background-color: #E00000;
}

.CharButtonClearMode {
	background-color: #313131;
	height: 90px;
	width: 100px;
	border: none;
	outline: none;
}

.CharButtonClearMode:hover {
	background-color: #C20000;
}

.CharButtonClearMode:active {
	background-color: #E00000;
}

.MatchupLabel {
	position: relative;
	bottom: 20px;
	right: -40px;
	color: white;
	font-size: 20px;
}

#MatchupToggleButton {
	position: absolute;
	right: 15%;
}

#SelectContainer {
	width: 1000px;
}

.CharacterPortraitDiv {
	position: absolute;
}

.CharacterPortrait {
	position: absolute;
	height: 300px;
	z-index: -1;
}

.RemoveBtn {
	float: left;
	height: 300px;
	background: none;
	outline: none;
	border: none;
	color: white;
	font-size: 40px;
	width: 40px;
}

.RemoveBtn:hover {
	background-color: #234366;
	opacity: 0.8;
	color: #C20000;	
	transition-duration: 0.5s;
}

.RemoveBtn:active {
	background-color: #E00000;
	transition-duration: 0.1s;
}

.MiddleSelectDiv {
	background-color: #313131;
	height: 160px;
	margin: 20px;
}

#TrackBarLabel {
	display: block;
	text-align: center;
	color: white;
}

#HelperText {
	color: white;
}

.SubmitButton {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 40px;
}

.DeleteMatchupButton {
	position: absolute;
	left: 0px;
	bottom: -40px;
	width: 100%;
}

.ShareCharTile {
	position: relative;
	margin: 10px;
	top: -100px;

}